<div class="container">
  <div class="d-block p-4 w-75">
    <h1>Edit your bed</h1>
    <p>Fill out the form below to edit your bed</p>
    <div class="listing-form mt-4">
      <%= simple_form_for @bed do |f| %>
      <%= f.input :category %>
      <%= f.input :ward %>
      <%= f.input :address %>
      <br> <%= f.button :file_field, :photo, as: :file %> </br>
      <br> <%= f.button :submit, class: "btn btn-light border ml-2" %> </br>
      <% end %>
    </div>
  </div>
  
</div>
