<div class="container d-block">
  <h1>Bed list</h1>
  <div class="row mt-4">
    <% @beds.each do |bed| %>
      <div class="col-auto">
        <%= link_to bed_path(bed) do%>
          <div class= "card" style="background-image: url(<%= bed.photo.attached? ? url_for(bed.photo) : image_path("homepage.png")%>);">
            <h1><%=bed.category%></h1>
          </div>
          <p>
            <div class="btn btn-primary">
              <%= link_to "Delete", bed, method: :delete, data: { confirm: "Are You Sure" }, :class => "btn" %> |
              <%= link_to "Edit", edit_bed_path(bed), :class => "btn" %>
            </div>
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
